<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37308246397-hj6t1gpncq4sa55uhbfiird2tnc6ra8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37308246397-hj6t1gpncq4sa55uhbfiird2tnc6ra8t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37308246397-l7lm48babrmn3pi8ud44ogon2e8so2mh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKABKvlxJbM61ICoQ3RilS7Zw2SVNoKSE</string>
	<key>GCM_SENDER_ID</key>
	<string>37308246397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groceries</string>
	<key>PROJECT_ID</key>
	<string>e-market-340904</string>
	<key>STORAGE_BUCKET</key>
	<string>e-market-340904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37308246397:ios:e32f28339eba652cbbc414</string>
</dict>
</plist>